.customHeader {
  text-align: center;
  background-image: linear-gradient(to right, blue, navy);
  color: white;
  font-weight: bold;
}

.weather-card {
  background-color: navy;
  color: white;
  height: 200px;
  border: 10px, solid, black;
  margin: 10px;
}

.list-group li {
  background-color: darkblue;
  color: white;
  margin: 5px;
}
